# Backend
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.env
backend/venv/
backend/env/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Général
.DS_Store
*.log
.vscode/
.idea/

